/* RESET  */
* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  max-width: 100%;
}

:root {
  --primary-color: #2887ff;
  --font-color: #519cf8;
  --background-color: #f3f4f6;
  --section-padding: 4rem 1rem;
  --section-spacing: 6rem;
}

/* CONTAINER */
.container {
  width: 100%;
  margin: 0;
  padding: 0 !important;
  max-width: 100%;
}

/* NAVBAR */
.nav-bar {
  background-color: var(--primary-color);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}
/* nav bar container */
.nav-bar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
/* logo link */
.nav-bar-logo a {
  color: white;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
}
.nav-bar-logo a:hover {
  color: white;
  transition: 0.1s all ease-in-out;
  cursor: pointer;
}
/* nav bar ul>li links */
.nav-bar-links {
  display: none;
}
/* link-like-button  */
.nav-bar-btn {
  display: none;
}
/* nav bar hamburger */
.nav-bar-toggle {
  display: block;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

/* Mobile menu */
.mobile-screen-navBar {
  display: none;
}
/* activated by javascript */
.mobile-screen-navBar.active {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 50px;
  left: 0;
  text-align: center;
}
/* style ul */
.mobile-screen-navBar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.mobile-screen-navBar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: transform 0.1s ease-in-out;
}
/* hover increase in size */
.mobile-screen-navBar ul li a:hover {
  transform: scale(1.1);
}
/* style link like button */
.mobile-screen-navbar-btn a {
  text-decoration: none;
  color: var(--primary-color);
  background-color: white;
  font-size: 1.2rem;
  border-radius: 25px;
  padding: 10px 30px;
}
.mobile-screen-navbar-btn a:hover {
  background-color: var(--primary-color);
  color: white;
  transition: 0.1s all ease-in-out;
  border: 1px solid white;
}

/* Large screen navbar */
@media (min-width: 768px) {
  /* display desktop screen ul */
  .nav-bar-links {
    display: block;
  }
  .nav-bar-links ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  /* display desktop ul li link */
  .nav-bar-links ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
  }
  .nav-bar-links ul li a:hover {
    color: var(--font-color);
    transform: scale(1.1);
    transition: 0.1s all ease-in-out;
  }
  /* styled link like button */
  .nav-bar-btn {
    display: block;
    background-color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 25px;
    cursor: pointer;
  }
  .nav-bar-btn a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    border: 1px solid var(--primary-color);
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 25px;
  }
  .nav-bar-btn a:hover {
    background-color: var(--primary-color);
    color: white;
  }
  .nav-bar {
    background-color: white;
  }
  .nav-bar-toggle {
    display: none;
  }
  .nav-bar-logo a {
    color: var(--primary-color);
    font-size: 1.5rem;
  }
  /* styled container */
  .nav-bar-flex {
    padding: 40px;
    margin: 0 auto;
    width: 90%;
  }
  .mobile-screen-navBar.active {
    display: none;
  }
}

/* HERO SECTION  */
.hero-container {
  margin-top: 80px; /* space for fixed navbar */
  width: 100%;
  display: block;
  background-image: url("photos/header-bg.jpg");
  background-size: cover;
  border-radius: 40px;
}
/* wraps the content except image */
.hero-content {
  margin: 20px;
  padding: 30px;
  text-align: center;
}
.hero-content p {
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.hero-content h1 {
  color: black;
  font-size: 4.25rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.hero-content h1 span {
  color: white;
}
.hero-content h1 .symbol {
  color: var(--primary-color);
}
/* hero link like btn */
.hero-link {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
.hero-link a {
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  padding: 15px 30px;
  border-radius: 25px;
}
/* play icon */
.hero-play {
  color: var(--primary-color);
  font-size: 1.5rem;
  cursor: pointer;
  background-color: white;
  padding: 10px 15px;
  border-radius: 50%;
}
.hero-play:hover {
  color: white;
  background-color: var(--primary-color);
  transition: 0.1s ease-in-out;
}
/* hero image  */
.hero-container .hero-image img {
  margin-top: 20px;
  display: block;
  width: min(100%, 500px);
}

/* Large hero adjustments- desktop screen */
@media (min-width: 768px) {
  .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .hero-content {
    text-align: left;
    width: 50%;
    margin-top: 3rem;
  }
  .hero-content p {
    font-size: 1.2rem;
  }
  .hero-content h1 {
    font-size: 3.9rem;
  }
  .hero-image img {
    transform: scale(2.5);
    position: relative;
    top: 3rem;
    left: 15rem;
  }
}

/* === ANIMATIONS === */
.hero-image {
  animation: slideInRight 0.8s ease-out;
}
@keyframes slideInRight {
  from {
    transform: translateX(30%);
  }
  to {
    transform: translateX(0);
  }
}
/* animation for hero content */
.hero-content p,
.hero-content h1,
.hero-link {
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 0.4s ease-out forwards;
}
.hero-content p {
  animation-delay: 0.8s;
}
.hero-content h1 {
  animation-delay: 1.2s;
}
.hero-link {
  animation-delay: 1.6s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

/* === DESTINATION SECTION === */
.destination {
  margin-top: var(--section-spacing);
  padding: 1rem;
  width: 90%;
  margin-inline: auto;
  text-align: center;
}
.destination h3 {
  font-weight: 800;
  margin-bottom: 0;
}
/* grid container */
.destination-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.destination-card {
  border-radius: 20px;
  padding: 20px;
  transition: transform 0.2s;
}
.destination-card img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s;
}
.destination-card img:hover {
  transform: scale(1.05);
}
.destination-body {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.destination-content {
  text-align: left;
}
.destination-icon {
  background-color: var(--primary-color);
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
  font-weight: 600;
  height: 35px;
  display: flex;
  align-items: center;
}

/* === JOURNEY SECTION === */
.journey-container {
  margin: var(--section-spacing);
  width: 80%;
  margin-inline: auto;
}
.journey-container h3 {
  font-weight: 700;
  color: black;
  margin-bottom: 0;
}
.journey-head-p {
  margin-top: 0;
  padding-top: 0;
}
.journey-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}
.booking-bg {
  background-color: #f7f4f8;
  padding: 1.5rem;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.booking-bg span,
.booking-bg i {
  color: var(--primary-color);
  font-size: 1.8rem;
}
.booking-bg p {
  margin-top: 4rem;
  font-weight: 600;
  color: black;
}
/* container to display when hover */
.booking-content {
  position: absolute;
  inset: 0; /* fill parent */
  opacity: 0;
  background-color: var(--primary-color);
  padding: 1.5rem;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
}
.booking-bg:hover .booking-content {
  opacity: 1;
  pointer-events: auto;
}
.booking-content span,
.booking-content i {
  color: white;
  font-size: 1.3rem;
  padding: 8px;
  border-radius: 60%;
  border: 1px solid white;
  margin-bottom: 14px;
}
.booking-content h4 {
  color: white;
  font-size: 1rem;
}
.booking-content p {
  font-size: 0.6rem;
  color: white;
  margin-top: 0.6rem;
}
/* === SHOWCASE SECTION === */
.showcase {
  margin-top: var(--section-spacing);
  padding: var(--section-padding);
}
.showcase-container {
  width: 80%;
  margin: 0 auto;
}
.showcase-content img {
  box-shadow: 0 8px 16px 1px rgba(36, 34, 34, 0.2);
  margin-bottom: 2rem;
  /* width: 25rem; */
}
.showcase-content h3 {
  font-weight: 700;
  font-size: 1.3rem;
}
.showcase-content p {
  font-size: 0.55rem;
  color: gray;
  line-height: 1.8;
  padding: 10px 0;
}
.showcase-content p:nth-child(2) {
  margin-bottom: 0;
}
.book-flight {
  background-image: url("photos/header-bg.jpg");
  background-size: cover;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .showcase-container {
    display: flex;
    flex-wrap: wrap;
  }
  .showcase-content {
    flex: 1 1 300px; /* grow, shrink, and set a base width */
    min-width: 300px; /* prevents items from getting too small */
    padding: 5px;
    width: 100%;
  }
  .showcase-content h3 {
    font-size: 3rem;
    margin-top: 2.5rem;
  }
}

/* CARD SECTION */
.card-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.card-year,
.clients,
.ratings {
  background-color: #f3f4f6;
  padding: 1rem 6rem;
  font-size: 4.6rem;
  color: var(--primary-color);
  border-radius: 10%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.card-year p:first-child,
.clients p:first-child,
.ratings p:first-child {
  margin-bottom: 0;
}
.card-year p:nth-child(2),
.clients p:nth-child(2),
.ratings p:nth-child(2) {
  color: gray;
  font-size: 1rem;
  margin-top: 0;
}
@media (min-width: 768px) {
  .card-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
}
/* DISCOVER SECTION */
.discover-container {
  margin-top: var(--section-spacing);
  padding: var(--section-padding);
  max-width: 100%;
}
.discover-head h4 {
  font-weight: 700;
  padding: 0 2rem;
  margin-bottom: 0;
}
.discover-head p {
  padding: 0 2rem;
}
.discover-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 2rem 3rem;
  margin: 0 1rem;
}
.discover-card {
  text-align: center;
  border: var(--primary-color) 1px dotted;
  padding: 2rem 3rem;
  border-radius: 10px;
}
.discover-card i {
  color: var(--primary-color);
  padding: 10px;
  border-radius: 50%;
  background-color: #deecfd;
  font-size: 1.5rem;
}
.discover-card h4 {
  font-weight: 700;
  margin-top: 1rem;
}
.discover-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out;
}
@media (min-width: 768px) {
  .discover-head {
    margin: 0 2rem;
  }
}
/* === TESTIMONIALS SECTION === */
.testimonials-container {
  margin-top: var(--section-spacing);
  padding: var(--section-padding);
}
.testimonials-head {
  padding: 0 2rem;
}
.testimonials-head h3 {
  font-weight: 700;
  margin-bottom: 0;
}
.testimonial-body {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  scroll-behavior: smooth;
  border-radius: 20px;
  margin: 1rem 2rem;
}
.testimonial-card {
  flex: 0 0 100%; /* default: 1 per screen */
  scroll-snap-align: start;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 5px;
  background-color: var(--background-color);
}
.testimonial-card:hover {
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.testimonials-card-head {
  background-color: white;
  padding: 1.2rem;
  border-radius: 10px;
}
.testimonials-card-body p {
  padding-top: 10px;
}
/* Show 2 testimonials on medium screens */
@media (min-width: 600px) {
  .testimonial-card {
    flex: 0 0 50%;
  }
}

/* Show 3 testimonials on large screens */
@media (min-width: 900px) {
  .testimonia-cardl {
    flex: 0 0 33.3333%;
  }
}

/* Show 4 testimonials on extra-large screens */
@media (min-width: 1200px) {
  .testimonial-card {
    flex: 0 0 25%;
  }
}

.testimonials-card-head span {
  color: var(--font-color);
}
.testimonial-card-details {
  display: inline-flex;
  margin: 1rem;
  gap: 1.2rem;
}
.testimonial-card-details img {
  width: 50px;
  border-radius: 50%;
  height: 50px;
}
.testimonial-card-name p {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.1rem;
}
.testimonial-card-name span {
  color: gray;
}

/* === FOOTER === */
.footer {
  margin-top: var(--section-spacing);
  padding: var(--section-padding);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}
.footer-flex {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.footer-flex h2,
.footer-flex h5 {
  font-weight: 800;
  margin-bottom: 2rem;
}
.footer-flex p {
  color: gray;
}
.footer-flex a {
  text-decoration: none;
  color: gray;
  margin: 8px 5px;
}
.social-media-icons a {
  text-decoration: none;
  padding: 6px;
  color: white;
  font-size: 1.5rem;
  background-color: var(--primary-color);
  border-radius: 100%;
  margin: 0 5px;
}
#contact-icon {
  color: gray;
  margin: 1rem 5px;
}
.footer-flex input {
  border-radius: 5px;
  padding: 8px;
  border: gray 1px solid;
  margin-bottom: 10px;
}
.footer-flex button {
  background-color: var(--primary-color);
  border: gray 1px solid;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.footer-flex button:hover {
  cursor: pointer;
  transition: all 0.2s ease-out;
  background-color: #1160c0;
}

.footer-bottom {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: gray;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 1rem;
  }
}
